html
{
  overflow-y: scroll;
}

a
{
  color: #C41E3A;
}

a:visited
{
  color: #808080;
}

body
{
  line-height: 1.5;

  font-family: 'Gentium Book Basic', serif;
  font-size: 1.25em;
  max-width: 960px;

  background: #F2F2F2;

  margin-left: auto;
  margin-right: auto;

  padding-left: 10px;
  padding-right: 10px;
}

nav
{
  font-size: 1.00em;
}

img
{
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5
{
  font-variant: small-caps;
  line-height: 1.2;
}

h1
{
  font-size: 2em;
}

h2
{
  font-size: 1.5em;
}

h3
{
  font-size: 1.17em;
}

h4, h5
{
  font-size: 1em;
}

h1.title
{
  margin-bottom: 0;
}

h2.tags
{
  margin-top: 0;
  line-height: 1em;
  font-variant: None;
}

pre, pre.chroma
{
  padding: 1em;
  background-color: #F5F5F5;
  border: 1px solid #E5E5E5;
  overflow: auto;
}

header
{
  margin-bottom: 1em;
  border-bottom: 1px solid;
  padding-bottom: 0.5em;
}

footer
{
  border-top: 1px solid black;
  margin-top: 1em;
  padding-top: 0.5em;
}

#tags
{
  margin-bottom: 10px;
}

.footnotes
{
  font-size: 0.75em;
}

#toc
{
  font-size: 1em;

  display: block;

  border-style: solid none solid none;
  border-width: 1px;
  border-color: black;
}

header.toc
{
  border-bottom: none;
  margin: 0;
  padding: 0;
}

h1.toc
{
  padding: 0;
  margin: 0;
}

div.publication
{
  border: 1px solid #E5E5E5;
  box-shadow: 5px 5px 10px 0px #E5E5E5;
  display: inline-block;
  padding: 0.5rem;
  margin: 0.5rem;
  max-width: 45%;
}

div.publication-title
{
  font-weight: bold;
  font-variant: small-caps;
}

div.publication-venue
{
  float: right;
}

figure.publication-preview
{
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

sup, sub
{
  vertical-align: baseline;
  position: relative;
  top: -0.5em;
}
