html
{
  overflow-y: scroll;
}

a
{
  color: #C41E3A;
}

a:visited
{
  color: #808080;
}

/* font for latin-ext */
@font-face {
  font-family: 'Gentium Book Basic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/webfonts/gentium-book-basic-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* font for latin */
@font-face {
  font-family: 'Gentium Book Basic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/webfonts/gentium-book-basic.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body
{
  line-height: 1.5;

  font-family: 'Gentium Book Basic', serif;
  font-size: 1.25em;
  max-width: 960px;

  background: #F2F2F2;

  margin-left: auto;
  margin-right: auto;

  padding-left: 10px;
  padding-right: 10px;
}

nav
{
  font-size: 1.00em;
}

img
{
  max-width: 100%;
  height: auto;
}

figure.portrait img
{
  border: 1px solid black;
}

h1, h2, h3, h4, h5
{
  font-variant: small-caps;
  line-height: 1.2;
}

h1
{
  font-size: 2em;
}

h2
{
  font-size: 1.5em;
}

h3
{
  font-size: 1.17em;
}

h4, h5
{
  font-size: 1em;
}

h1.title
{
  margin-bottom: 0;
}

h2.tags
{
  margin-top: 0;
  line-height: 1em;
  font-variant: None;
}

pre, pre.chroma
{
  padding: 1em;
  background-color: #F5F5F5;
  border: 1px solid #E5E5E5;
  overflow: auto;
}

header
{
  margin-bottom: 1em;
  border-bottom: 1px solid;
  padding-bottom: 0.5em;
}

footer
{
  border-top: 1px solid black;
  margin-top: 1em;
  padding-top: 0.5em;
}

#tags
{
  margin-bottom: 10px;
}

.footnotes
{
  font-size: 0.75em;
}

#toc
{
  font-size: 1em;

  display: block;

  border-style: solid none solid none;
  border-width: 1px;
  border-color: black;
}

header.toc
{
  border-bottom: none;
  margin: 0;
  padding: 0;
}

h1.toc
{
  padding: 0;
  margin: 0;
}

sup, sub
{
  vertical-align: baseline;
  position: relative;
  top: -0.5em;
}

blockquote
{
  border-left: 10px solid #E5E5E5;
  padding-left: 0.5em;
}

/* Improve spacing between normal list items and articles */
article, li
{
  margin: 0.50em 0 0 0;
}

/* Render (nested) keyboard shortcuts in a document */
kbd>kbd {
  background-color: #F5F5F5;
  padding:          2px 2px;
  border:           1px solid #E5E5E5;
  font-weight:      600;
  white-space:      nowrap;

  /* nice key shadow effect */
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
}
