{{ partial "header.html" . }}

{{ partial "navigation.html" . }}

  <main>
    <article>
      <h1 class="title">{{ .Title }}</h1>

      {{ if eq .Type "blog" }}
        {{ partial "blog.html" . }}
      {{ end }}

      <div>
        {{ .Content }}
      </div>

    </article>

    {{ if eq .Type "tags" }}
      <div>
        <p>
          It looks like you are trying to navigate this website using tags. Please enjoy this list of all pages
          tagged &lsquo;{{ .Title | lower }}&rsquo;:
        </p>
      </div>
    {{ end }}

    {{ if eq .Type "blog" }}
      <h1>Recently updated</h1>

      {{ $posts := where .Site.RegularPages "Section" "eq" "blog" }}
      {{ $posts := sort $posts ".Params.LastMod" "desc" }}
      {{ $posts := ($posts | first 5) }}

      <div>
        <ul>
          {{ range $posts }}
            <li>
              <article>
                <a href="{{.Permalink}}">{{.Title | markdownify}}</a>
                {{ if .Lastmod.After .Date }}
                {{ if ne .Lastmod.Day .Date.Day }}
                (last updated on {{ .Lastmod.Format "January 2, 2006" }})
                {{ end }}
              {{ end }}
              </article>
            </li>
          {{ end }}
        </ul>
      </div>

      <h1>All articles</h1>
    {{ end }}

    {{ if or (eq .Type "blog") (eq .Type "tags") }}
      <div>
        <ul>
        {{ range .Pages }}
          <li>
            <article>
              <a href="{{.Permalink}}">{{.Title | markdownify}}</a><br />
              Published on {{.Date.Format "January 2, 2006"}}
              {{ if .Lastmod.After .Date }}
                {{ if ne .Lastmod.Day .Date.Day }}
                (last updated on {{ .Lastmod.Format "January 2, 2006" }})
                {{ end }}
              {{ end }}<br />
              Tags: {{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}<a href="{{ "/tags/" | relLangURL }}{{ $e | urlize }}">{{ $e }}</a>{{ end }}
            </article>
          </li>
        {{ end }}
        </ul>
      </div>
   {{ end }}
  </main>

{{ partial "footer.html" . }}
