<div>
  {{ with .Site.GetPage "/blog" }}
    {{ with .OutputFormats.Get "rss" }}
        {{ printf `<a href="%s" aria-label="RSS">` .Permalink | safeHTML }}
        <i class="fa-svg fa-rss-square fa-svg-lg" style="color:black"></i></a>
    {{ end }}

    {{ with .Site.Params.twitterAccount }}
      <a href="https://twitter.com/{{ . }}" aria-label="Twitter">
      <i class="fa-svg fa-twitter-square fa-svg-lg" style="color:black"></i></a>
    {{ end }}
  {{end }}
</div>

{{ if .Params.tags }}
  <h2 class="tags">
    Tags: {{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}<a href="{{ "/tags/" | relLangURL }}{{ $e | urlize }}">{{ $e }}</a>{{ end }}
  </h2>
{{ end }}

