<div class="publication">
  {{ $paper := .Get 0 }}
  {{ $data :=  index .Site.Data.publications $paper }}
  <div class="publication-venue">{{ $data.venue }}</div>
  <div class="publication-title">{{ $data.title | markdownify }}</div>
  <div class="publication-authors">{{ $data.authors | markdownify }}</div>
  <div class="publication-abstract">
    <details>
      <summary>Abstract</summary>
      {{ $data.abstract | markdownify }}
    </details>
  </div>

  <figure class="publication-preview">
      <img src="{{ $data.preview }}" />
  </figure>
</div>
