<div class="publication">
  {{ $paper := .Get 0 }}
  {{ $data :=  index .Site.Data.publications $paper }}
  <div class="publication-title">{{ $data.title | markdownify }}</div>
  <div class="publication-authors">{{ $data.authors | markdownify }}</div>
  <div class="publication-abstract">
    <details>
      <summary>Abstract</summary>
      {{ $data.abstract | markdownify }}
    </details>
  </div>

  <figure class="publication-preview">
    {{ $width := div 95.0 (len $data.preview) }}
    <p>{{ $width }}</p>
    {{ range $data.preview }}
      <img src="{{ . }}" style="width:{{ $width }}%" />
    {{ end }}
  </figure>
</div>
